<a href="https://colab.research.google.com/github/vanishree06/Python-workshop/blob/master/Day_3_session_2_work_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Finding the factorial of a number

In [2]:
#Python Program to find the factorial of a number using loop.
n=int(input("Enter number:"))
fact=1
while(n>0):
  fact=fact*n
  n=n-1
print("Factorial of the number is: ")
print(fact)

Enter number:34
Factorial of the number is:
295232799039604140847618609643520000000

#Program for multiples of 2 of a list without list comprehension

In [3]:
x=[1, 2, 3, 4, 5, 6]
result = []
for idx in range(len(x)):
  result.append(x[idx] * 2)
print(result)

[2, 4, 6, 8, 10, 12]

#Single line program of Pythonic coding

In [4]:
print([i*2 for i in [1, 2, 3, 4, 5, 6] ])

[2, 4, 6, 8, 10, 12]

#More Pythonic program of 3 lines!

In [5]:
from functools import reduce
sequences = [x for x in range(1,int(input('Enter no'))+1)]
product = reduce(lambda x, y: x*y, sequences)
print(product)

Enter no21
51090942171709440000

#Number and its square as Tuple for a range

In [6]:
l_range=int(input("Enter the lower range:"))
u_range=int(input("Enter the upper range:"))
a=[(x,x**2) for x in range(l_range,u_range+1)]
print(a)

Enter the lower range:34
Enter the upper range:68
[(34, 1156), (35, 1225), (36, 1296), (37, 1369), (38, 1444), (39, 1521), (40, 1600), (41, 1681), (42, 1764), (43, 1849), (44, 1936), (45, 2025), (46, 2116), (47, 2209), (48, 2304), (49, 2401), (50, 2500), (51, 2601), (52, 2704), (53, 2809), (54, 2916), (55, 3025), (56, 3136), (57, 3249), (58, 3364), (59, 3481), (60, 3600), (61, 3721), (62, 3844), (63, 3969), (64, 4096), (65, 4225), (66, 4356), (67, 4489), (68, 4624)]

#The most Pythonic program of a sinle line program is given below

In [7]:
print([(x,x**2) for x in range(int(input("Enter the lower range:")),\
int(input("Enter the upper range:"))+1)])

Enter the lower range:37
Enter the upper range:89
[(37, 1369), (38, 1444), (39, 1521), (40, 1600), (41, 1681), (42, 1764), (43, 1849), (44, 1936), (45, 2025), (46, 2116), (47, 2209), (48, 2304), (49, 2401), (50, 2500), (51, 2601), (52, 2704), (53, 2809), (54, 2916), (55, 3025), (56, 3136), (57, 3249), (58, 3364), (59, 3481), (60, 3600), (61, 3721), (62, 3844), (63, 3969), (64, 4096), (65, 4225), (66, 4356), (67, 4489), (68, 4624), (69, 4761), (70, 4900), (71, 5041), (72, 5184), (73, 5329), (74, 5476), (75, 5625), (76, 5776), (77, 5929), (78, 6084), (79, 6241), (80, 6400), (81, 6561), (82, 6724), (83, 6889), (84, 7056), (85, 7225), (86, 7396), (87, 7569), (88, 7744), (89, 7921)]

#Finding the perfect squares

In [9]:
from math import *
sequences = [10,2,8,7,5,4,3,11,0,9,16,1]
result=[]
for i in sequences:
  if int(sqrt(i))**2==i:
    result.append(i)
print(result)

[4, 0, 9, 16, 1]

#Pythonic program of 3 lines!

In [10]:
sequences = [10,2,8,7,5,4,3,11,0,9,16,1]
filtered_result = filter(lambda x: int(sqrt(x))**2==x, sequences)
print(list(filtered_result))

[4, 0, 9, 16, 1]

#More Pythonic program of 2 lines!

In [14]:
#a=[(x,x**210) for x in range(int(input( Enter the lower range: )),\int(input("Enter the upper range:"))+1)]
print(a)

[(34, 1156), (35, 1225), (36, 1296), (37, 1369), (38, 1444), (39, 1521), (40, 1600), (41, 1681), (42, 1764), (43, 1849), (44, 1936), (45, 2025), (46, 2116), (47, 2209), (48, 2304), (49, 2401), (50, 2500), (51, 2601), (52, 2704), (53, 2809), (54, 2916), (55, 3025), (56, 3136), (57, 3249), (58, 3364), (59, 3481), (60, 3600), (61, 3721), (62, 3844), (63, 3969), (64, 4096), (65, 4225), (66, 4356), (67, 4489), (68, 4624)]

#Program to find the largest number in a list.

In [17]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
  b=int(input("Enter element:"))
  a.append(b)
  a.sort()
print("Largest element is:",a[n-1])

Enter number of elements:3
Enter element:26
Enter element:57
Enter element:96
Largest element is: 96

#Try this More pythonic 2 lines program equivalent to above codings as shown below !

In [18]:
x=0
print('The greatest no is',max([int(input(x)) for _ in range(int(input("Enter no")))]))

Enter no2
45
78
The greatest no is 78

#Program to put the even and odd elements in a list into two different lists.

In [19]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
  b=int(input("Enter element:"))
  a.append(b)
even=[]
odd=[]
for j in a:
 if(j%2==0):
   even.append(j)
 else:
   odd.append(j)
print("The even list",even)
print("The odd list",odd)

Enter number of elements:4
Enter element:24
Enter element:74
Enter element:85
Enter element:97
The even list [24, 74]
The odd list [85, 97]

In [20]:
x=0
l=[int(input(x)) for _ in range(int(input("Enter n")))]
print('odd list is',[ i for i in l if i%2])
print('even list is',[i for i in l if not i%2])

Enter n4
24
74
85
7
odd list is [85, 7]
even list is [24, 74]

#Python Program to merge two lists and sort it.

In [22]:
a=[]
c=[]
n1=int(input("Enter number of elements:"))
for i in range(1,n1+1):
  b=int(input("Enter element:"))
  a.append(b)
n2=int(input("Enter number of elements:"))
for i in range(1,n2+1):
  d=int(input("Enter element:"))
  c.append(d)
new=a+c
new.sort()
print("Sorted list is:",new)

Enter number of elements:3
Enter element:24
Enter element:43
Enter element:5
Enter number of elements:2
Enter element:75
Enter element:84
Sorted list is: [5, 24, 43, 75, 84]

In [23]:
x=0
l=[int(input(x)) for _ in range(int(input("Enter how many elements")))]
m=[int(input(x)) for _ in range(int(input("Enter how many elements ")))]
new=l+m
new.sort()
print("Sorted list is:",new)

Enter how many elements3
1
5
7
Enter how many elements 3
23
7
5
Sorted list is: [1, 5, 5, 7, 7, 23]

##Python Program to sort the list according to the second element in the sublist.

In [25]:
a=[['A',34],['B',21],['C',26],['E',29]]
for i in range(0,len(a)):
  for j in range(i+1,len(a)):
    if(a[i][1]>a[j][1]):
      temp=a[j]
      a[j]=a[i]
      a[i]=temp
print(a)

[['B', 21], ['C', 26], ['E', 29], ['A', 34]]

In [26]:
a=[['A',34],['B',21],['C',26],['E',29]]
a.sort(key = lambda x: x[1])
print(a)

[['B', 21], ['C', 26], ['E', 29], ['A', 34]]

#Program to find the second largest number in a list

In [27]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
 b=int(input("Enter element:"))
 a.append(b)
for i in range(0,len(a)):
  for j in range(0,len(a)-i-1):
    if(a[j]>a[j+1]):
       temp=a[j]
       a[j]=a[j+1]
       a[j+1]=temp
print('Second largest number is:',a[n-2])

Enter number of elements:3
Enter element:42
Enter element:57
Enter element:31
Second largest number is: 42

In [32]:
x=0
l=[int(input(x)) for _ in range(int(input("Enter how many elements")))]
l.sort()
print("Second largest element is :",l[-2])

Enter how many elements 3
2
5
7
Second largest element is : 5

#Program to create a list of tuples with the first element as the number and the second element as the square of the number.

In [33]:
l_range=int(input("Enter the lower range:"))
u_range=int(input("Enter the upper range:"))
a=[(x,x**2) for x in range(l_range,u_range+1)]
print(a)

Enter the lower range:2
Enter the upper range:85
[(2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100), (11, 121), (12, 144), (13, 169), (14, 196), (15, 225), (16, 256), (17, 289), (18, 324), (19, 361), (20, 400), (21, 441), (22, 484), (23, 529), (24, 576), (25, 625), (26, 676), (27, 729), (28, 784), (29, 841), (30, 900), (31, 961), (32, 1024), (33, 1089), (34, 1156), (35, 1225), (36, 1296), (37, 1369), (38, 1444), (39, 1521), (40, 1600), (41, 1681), (42, 1764), (43, 1849), (44, 1936), (45, 2025), (46, 2116), (47, 2209), (48, 2304), (49, 2401), (50, 2500), (51, 2601), (52, 2704), (53, 2809), (54, 2916), (55, 3025), (56, 3136), (57, 3249), (58, 3364), (59, 3481), (60, 3600), (61, 3721), (62, 3844), (63, 3969), (64, 4096), (65, 4225), (66, 4356), (67, 4489), (68, 4624), (69, 4761), (70, 4900), (71, 5041), (72, 5184), (73, 5329), (74, 5476), (75, 5625), (76, 5776), (77, 5929), (78, 6084), (79, 6241), (80, 6400), (81, 6561), (82, 6724), (83, 6889), (84, 7056), (85, 7225)]

In [34]:
#a=[(x,x**2) for x in range(int(input("Enter the lower range:")),\int(input("Enter the upper range:"))+1)]
print(a)

[(2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100), (11, 121), (12, 144), (13, 169), (14, 196), (15, 225), (16, 256), (17, 289), (18, 324), (19, 361), (20, 400), (21, 441), (22, 484), (23, 529), (24, 576), (25, 625), (26, 676), (27, 729), (28, 784), (29, 841), (30, 900), (31, 961), (32, 1024), (33, 1089), (34, 1156), (35, 1225), (36, 1296), (37, 1369), (38, 1444), (39, 1521), (40, 1600), (41, 1681), (42, 1764), (43, 1849), (44, 1936), (45, 2025), (46, 2116), (47, 2209), (48, 2304), (49, 2401), (50, 2500), (51, 2601), (52, 2704), (53, 2809), (54, 2916), (55, 3025), (56, 3136), (57, 3249), (58, 3364), (59, 3481), (60, 3600), (61, 3721), (62, 3844), (63, 3969), (64, 4096), (65, 4225), (66, 4356), (67, 4489), (68, 4624), (69, 4761), (70, 4900), (71, 5041), (72, 5184), (73, 5329), (74, 5476), (75, 5625), (76, 5776), (77, 5929), (78, 6084), (79, 6241), (80, 6400), (81, 6561), (82, 6724), (83, 6889), (84, 7056), (85, 7225)]

#Program to generate random numbers from 1 to 20 and append them to the list.

In [38]:
import random
a=[]
n=int(input("Enter number of elements:"))
for j in range(n):
  a.append(random.randint(1,20))
print('Randomised list is: ',a)

Enter number of elements:3
Randomised list is:  [14, 18, 14]

In [39]:
import random
l=[random.randint(1,20) for _ in range(int(input("Enter how many elements")))]
print('Randomised list is: ',l)

Enter how many elements3
Randomised list is:  [6, 8, 4]

#Program for printing list of values with indexing

In [40]:
names = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
index=0
for i in names:
  print(str(index)+":"+i)
index=index+1

0:Jan
0:Feb
0:Mar
0:Apr
0:May
0:Jun
0:Jul
0:Aug
0:Sep
0:Oct
0:Nov
0:Dec

#using Pythonic way using enumerate()!

In [41]:
names = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
for index, value in enumerate(names):
  print(f'{index+1}: {value}')

1: Jan
2: Feb
3: Mar
4: Apr
5: May
6: Jun
7: Jul
8: Aug
9: Sep
10: Oct
11: Nov
12: Dec