<a href="https://colab.research.google.com/github/vanishree06/Python-workshop/blob/master/Day_2_session_1_tuple_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#In[2]

In [1]:
l = (x for x in input('Enter Names : ').split()) # tuple
l = sorted(l,key = lambda x: len(x))
print(l)

Enter Names : name 1  raju
['1', 'name', 'raju']

#1st element  as nor and 2nd element as the sqr of nor

In [2]:
l = [(x,x**2) for x in range(int(input('Enter Number : ')))]
print(l)

Enter Number : 18
[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100), (11, 121), (12, 144), (13, 169), (14, 196), (15, 225), (16, 256), (17, 289)]

#3,4,5,6

In [3]:
l = []

def inp():
  name = input('Name : ')
  rolno = input(' Rol No : ')
  return (name,rolno)  # returns tuples

n = int(input('Number of Students : '))
for x in range(n):
  l.append(inp())

print(f'Original : {l}')

l.sort(key = lambda x:x[1])
print(f'According to Rol No : Ascending :{l}')
print(f'According to Rol No : Descending :{l[::-1]}')

l.sort(key = lambda x:x[0])
print(f'According to Name : Ascending :{l}')
print(f'According to Name : Descending :{l[::-1]}')

Number of Students : 3
Name : ram
 Rol No : 1
Name : smitha
 Rol No : 23
Name : sonu
 Rol No : 15
Original : [('ram', '1'), ('smitha', '23'), ('sonu', '15')]
According to Rol No : Ascending :[('ram', '1'), ('sonu', '15'), ('smitha', '23')]
According to Rol No : Descending :[('smitha', '23'), ('sonu', '15'), ('ram', '1')]
According to Name : Ascending :[('ram', '1'), ('smitha', '23'), ('sonu', '15')]
According to Name : Descending :[('sonu', '15'), ('smitha', '23'), ('ram', '1')]